<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <mat-toolbar class="header">
    <button mat-icon-button class="header__menu-btn" aria-label="Menu principal">
      <img class="header__menu-icon" src="assets/icons/navegacion/menu.svg" alt="Logotipo Homing">
    </button>
    <a href="/"><img class="header__logotipo" src="assets/logo/logotipo-homing.svg" alt="Logotipo Homing"></a>
  </mat-toolbar>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <mat-toolbar class="header">
    <button mat-icon-button class="header__menu-btn" aria-label="Menu principal">
      <img class="header__menu-icon" src="assets/icons/navegacion/menu.svg" alt="Logotipo Homing">
    </button>
    <a href="/"><img class="header__logotipo" src="assets/logo/logotipo-homing.svg" alt="Logotipo Homing"></a>

    <mat-menu #appMenu="matMenu" class="header__avatar-menu">
      <ng-template matMenuContent>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </ng-template>
    </mat-menu>

    <button mat-icon-button class="header__avatar-btn" [matMenuTriggerFor]="appMenu">
      <div class="heade">{{userInitials}}</div>
    </button>
  </mat-toolbar>
</div>

