<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <mat-toolbar class="header">
    <button mat-icon-button class="header__menu-btn" aria-label="Menu principal" (click)="toggleMenu()">
      <img class="header__menu-icon" [src]="isMenuOpen ? 'assets/icons/close.png' : 'assets/icons/menu.png'" alt="Boton de acceso o cierre de menú de navegación">
    </button>
    <a href="/"><img class="header__logotipo" src="assets/logo/logotipo-homing.svg" alt="Logotipo Homing"></a>
  </mat-toolbar>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <mat-toolbar class="header">
    <button mat-icon-button class="header__menu-btn" aria-label="Menu principal" (click)="toggleMenu()">
      <img class="header__menu-icon" [src]="isMenuOpen ? 'assets/icons/close.png' : 'assets/icons/menu.png'" alt="Boton de acceso o cierre de menú de navegación">
    </button>
    <a href="/"><img class="header__logotipo" src="assets/logo/logotipo-homing.svg" alt="Logotipo Homing"></a>

    <mat-menu #appMenu="matMenu" class="header__avatar-menu">
      <ng-template matMenuContent>
        <button  mat-menu-item (click)="goToProfile()">Mi perfil</button>
        <button *ngIf="rolUser == 2" mat-menu-item (click)="goToAnimalUserApplications()">Mis solicitudes de adopción</button>
        <button *ngIf="rolUser == 3 || rolUser == 4" mat-menu-item (click)="goToAnimalApplications()">Solicitudes de adopción</button>
        <button *ngIf="rolUser == 3 || rolUser == 4" mat-menu-item (click)="goToAnimalManage()">Gestiónar mascotas</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </ng-template>
    </mat-menu>

    <button mat-icon-button class="header__avatar-btn" [matMenuTriggerFor]="appMenu">
      <div class="heade">{{userInitials}}</div>
    </button>
  </mat-toolbar>
</div>

<nav *ngIf="isMenuOpen" class="nav">
  <ul class="nav__menu">
    <li class="nav__item"><img class="nav__menu-icon" src="assets/icons/inicio.png" ><a routerLink="/home" class="nav__link" alt="Boton de acceso a menú de inicio" (click)="toggleMenu()">Inicio</a></li>
    <li class="nav__item"><img class="nav__menu-icon" src="assets/icons/mascotas.png" ><a routerLink="/mascotas" class="nav__link" alt="Boton de acceso a menú de mascotas" (click)="toggleMenu()">Mascotas que te esperan</a></li>
<!--     <li class="nav__item"><img class="nav__menu-icon" src="assets/icons/info.png" ><a routerLink="/dar-en-adopcion" class="nav__link" alt="Boton de acceso a menú de información razas" (click)="toggleMenu()">Guía de mascotas</a></li> -->
    <li class="nav__item"><img class="nav__menu-icon" src="assets/icons/refugios.png" ><a routerLink="/refugios" class="nav__link" alt="Boton de acceso a menú refugios y protectoras" (click)="toggleMenu()">Refugios y Protectoras</a></li>
    <li class="nav__item"><img class="nav__menu-icon" src="assets/icons/criadores.png" ><a routerLink="/criaderos" class="nav__link" alt="Boton de acceso a menú de criadores responsables" (click)="toggleMenu()">Criaderos responsables</a></li>
  </ul>
</nav>

