<div style="margin-left: auto; margin-right: auto">
  <p id="updateAnimalSuccessFeedback"></p>
</div>
<section class="public">
  <div class="public__container" *ngIf="animalDetail$ | async as animal">
    <h1 class="public__title">Editar mascota | <span class=""> {{animal.name}}</span></h1>

      <form [formGroup]="form" (ngSubmit)="updateAnimal()" class="public__form">

      <app-create-animal-form
        (formReady)="onAnimalFormReady($event)"
        (filesChanged)="onFilesChanged($event)"
        [isEdit]= 'true'
        >
      </app-create-animal-form>

        <div class="public__actions">
         <app-button
          variant="primary"
          type="submit"
          [disabled]="
          !formPublicAnimal.valid"
          (click)="openDialogUpdate()"
          >
          Editar mascota
        </app-button>
      <app-button variant="outline" (click)="openDialog()">Cancelar</app-button>
      </div>
      </form>
    </div>
</section>


