<div class="animal-card">
  <div *ngIf="imageList$ | async as images" class="animal-card__image-container">

      <img [src]="images[0] | imageUrl"  [alt]="animal.name" class="animal-card__image" />

    <div class="animal-card__location">
     <img src="/assets/icons/location.png" [alt]="animal.location" class="animal-card__location-icon">
      <span class="animal-card__location-text">{{ animal.location }}
    </span>
    </div>
  </div>

  <div class="animal-card__content">
    <h3 class="animal-card__name">{{ animal.name }}</h3>
    <p class="animal-card__type">{{ animal.species.name }}</p>
  </div>
  <div class="animal-card__action">
    <app-button [variant]="animal.status.name == 'En adopción' ? 'enAdopcion' : animal.status.name"  size="md" [fullWidth]="true" >{{ animal.status.name }}</app-button>
  </div>
</div>
