@use '/src/assets/styles/variables' as vars;
.animal-card {
  background-color: vars.$color-white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 300ms ease, box-shadow 300ms ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 340px;

  @media (min-width: vars.$breakpoint-md) {
    max-width: 500px;
  }
  @media (min-width: vars.$breakpoint-md) {
    max-width: none;
  }

  &:hover {
    transform: translateY(-5px);

    .animal-card__image {
      transform: scale(1.05);
    }
  }

  &__image-container {
    position: relative;
    overflow: hidden;
    padding-top: 75%;
  }

  &__location {

  z-index: 3;
  position: relative;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: flex-start;
  justify-content: left;
  align-items: center;
  padding: 4px;
    @media (min-width: vars.$breakpoint-lg) {
      justify-content: center;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms ease;
  }

  &__location-icon {
    width: 14px;
    margin-right: 6px;
    margin-left: 6px;
    height: fit-content;

  }

  &__location-text {
    font-weight: 700;
    width: 14px;
    font-size: vars.$font-size-14;
     @media (min-width: vars.$breakpoint-md) {
      font-size: vars.$font-size-16;
    }
  }

  &__content {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__name {
    margin: 0;
    font-size: vars.$font-size-16;
    font-weight: 700;
    color: vars.$color-primary;
    @media (min-width: vars.$breakpoint-md) {
      font-size: vars.$font-size-18;
    }
  }

  &__type {
    color: vars.$color-text;
    font-weight: 700;
    font-size: vars.$font-size-16;
    margin-bottom: 0;
    @media (min-width: vars.$breakpoint-md) {
      font-size: vars.$font-size-18;
    }
  }

  &__action {
    margin-top: auto;
    border-radius: 0 0 8px 8px;
  }
}
