
<section class="home">
  <div class="container">
    <div class="home__content">
      <h1 class="home__title_small_devices">¡Bienvenido a Homing. {{this.auth?.name ? this.auth?.name : '' }}!</h1>
      <div class="home__image-container">
        <img
          src="/assets/img/dog-287420_1920.jpg"
          alt="Perro buscando hogar"
          class="home__image"
        >
      </div>
      <div class="home__text">
        <div class="home__divider"></div>
        <p class="home__description">
          En Homing tenemos el compromiso de dar un hogar a todos aquellos animales que lo necesiten.
        </p>
        <p class="home__question">¿Nos ayudas a conseguirlo?</p>
        <div *ngIf="!this.auth" class="home__actions">
          <app-button variant="primary" (click)="goToLogin()">Iniciar sesión</app-button>
          <app-button variant="secondary" (click)="goToRegister()">Registrate</app-button>
        </div>
        <div *ngIf="this.auth" class="home__actions">
          <app-button *ngIf="this.auth.role_id == 2" variant="primary" (click)="goToAnimals()">Ver mascotas</app-button>
          <app-button *ngIf="this.auth.role_id == 3 || 4"variant="primary" (click)="goToPublicAnimals()">Publicar mascota</app-button>
          <app-button *ngIf="this.auth.role_id == 3 || 4"variant="outline" (click)="goToAnimals()">Ver mascotas</app-button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading$ | async">Cargando...</div>
</section>

<section class="animal-section">
  <div class="container">
    <h2 class="animal-section__title">
      <img class="animal-section__icon" src="/assets/icons/mascotas.png" alt="Icono Corazón">
      Mascotas que te esperan
    </h2>
    <div class="carousel">
      <button
        class="carousel__arrow carousel__arrow--prev"
        (click)="prevSlide()"
        [attr.aria-label]="'Anterior mascota'"
      >
        <img class="carousel__arrow-icon" src="/assets/icons/navegacion/arrow-carousel.svg" alt="Icono flecha izquierda">
      </button>

      <div class="carousel__container">
        <div class="carousel__track" [style.transform]="'translateX(' + (-currentSlide * 100) + '%)'">
          <div class="carousel__item"  *ngFor="let animal of animals">
            <app-card [animal]="animal"></app-card>
          </div>
        </div>
      </div>

      <button
        class="carousel__arrow carousel__arrow--next"
        (click)="nextSlide()"
        [attr.aria-label]="'Siguiente mascota'"
      >
         <img class="carousel__arrow-icon" src="/assets/icons/navegacion/arrow-carousel.svg" alt="Icono flecha derecha">
      </button>
    </div>
  </div>
</section>
