<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<section class="public">
  <div class="public__container">
    <h1 class="public__title">Publicar mascota</h1>


      <form [formGroup]="form" (ngSubmit)="publicAnimal()" class="public__form">

      <app-create-animal-form
        (formReady)="onAnimalFormReady($event)">
      </app-create-animal-form>

        <div class="public__actions">
         <app-button
          variant="primary"
          type="submit"
          [disabled]="
          !formPublicAnimal.valid"
          >
          Registrarme
        </app-button>
      <app-button variant="outline" (click)="openDialog()">Cancelar</app-button>
      </div>
      </form>
      <!-- <app-dialog></app-dialog> -->
    </div>
</section>


