@use '/src/assets/styles/variables' as vars;

.breeder{
  margin: 32px;

  &__section {
    &-title {
      text-align: center;
      margin-bottom: 30px;
      font-size: vars.$font-size-18;
      font-weight: 700;
      color: vars.$color-text;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: vars.$breakpoint-md) {
        font-size: vars.$font-size-26;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    &-icon {
      width: 16px;
      margin-right: 8px;
      @media (min-width: vars.$breakpoint-md) {
        width: 24px;
      }
    }
  }
  &__title {

    margin: 10px 0 30px 0;
    font-weight: 700;
    font-size: vars.$font-size-18;
    color: vars.$color-primary;
    text-align: left;
    @media (min-width: vars.$breakpoint-md) {
      font-size: vars.$font-size-26;
    }
  }

.section {
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  margin-bottom: 30px;
  &__introduction-container {
    margin-bottom: 40px;
    @media (min-width: vars.$breakpoint-md) {
      display:    flex;
      flex-wrap:  wrap;
      gap:        40px;
    }
  }

  &__title {
    margin: 10px 0 30px 0;
    font-weight: 700;
    font-size: vars.$font-size-18;
    color: vars.$color-primary;
    text-align: left;
    @media (min-width: vars.$breakpoint-md) {
      font-size: vars.$font-size-26;
    }
  }

  &__introduction {

    margin-bottom: 40px;
    &:last-child { margin-bottom: 0; }
    @media (min-width: vars.$breakpoint-md) { flex: 1 1 calc(50% - 40px);}
  }
  &__introduction-text {
    font-size: vars.$font-size-18;
    font-weight:  400;
    color:        vars.$color-text;
    line-height: normal;
  }
  &__introduction-img {
    position: relative;
    @media (min-width: vars.$breakpoint-md) { flex: 1 1 calc(50% - 40px);}
  }
  &__introduction-image {
    position: relative;
    z-index:  4;
    width:    97%;
    height:   100%;
    @media (min-width: vars.$breakpoint-md) {
        width:      97%;
        object-fit: cover;
      }
      &__author {
        position: absolute;
        z-index: 34;
        bottom: 5px;
        right: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0px 5px;
        font-size: 12px;
        color: vars.$color-text
      }
    }
    &__introduction-decoration {
      position:         absolute;
      right:            0;
      bottom:           -5%;
      z-index:          1;
      width:            97%;
      height:           100%;
      background-color: vars.$color-primary;
      border-radius:    8px;

      @media (min-width: vars.$breakpoint-md) { bottom: -3%; }
    }
  }


  &__list {
      gap: 30px;
      padding: 30px;
      background-color: vars.$color-gray;
      display: grid;
      grid-template-columns: 1fr;
      border-radius: 8px;
      @media  (min-width: vars.$breakpoint-md ) {
        grid-template-columns: 1fr 1fr;
      }
      @media  (min-width: vars.$breakpoint-lg ) {
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

}



