<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
  <p id="registerBreederFeedback"></p>
   <p id="registerShelterFeedback"></p>
</div>
<section class="register">
  <div class="register__container">
    <h1 class="register__title">Formulario de registro</h1>
    <div *ngIf="loading$ | async" class="spinner-container">
      <mat-progress-spinner diameter="100" class="spinner" mode="indeterminate" color="primary">
      </mat-progress-spinner>
    </div>
    <div *ngIf="!(loading$ | async) || (loaded$ | async)">
      <form [formGroup]="form" (ngSubmit)="register()">

      <app-register-user-form
        (formReady)="onUserFormReady($event)"
        (roleSelected)="onRoleSelected($event)">
      </app-register-user-form>

      <app-register-shelter-form
        *ngIf="selectedRoleId === 3"
        (formReady)="onShelterFormReady($event)">
      </app-register-shelter-form>

      <app-register-breeder-form
        *ngIf="selectedRoleId === 4"
        (formReady)="onBreederFormReady($event)">
      </app-register-breeder-form>

        <div class="register__actions">
         <app-button
          variant="primary"
          type="submit"
          [disabled]="
          !formUser.valid
          || (selectedRoleId === 3 && (!formShelter || !formShelter.valid))
          || (selectedRoleId === 4 && (!formBreeder || !formBreeder.valid))">
          Registrarme
        </app-button>
      <app-button variant="outline" (click)="cancel()">Cancelar</app-button>
      </div>
      </form>
    </div>
  </div>
</section>

