<footer class="footer">
  <div class="footer__legal-contact">
    <div class="footer__legal">
      <a href="/"><img class="footer__logotipo" src="assets/logo/logotipo-homing.svg" alt="Logotipo Homing"></a>
        <ul class="footer__links-list">
            <li class="footer__item"><a class="footer__link" href="/">Preguntas Frecuentes</a></li>
            <li class="footer__item"><a class="footer__link" href="/">Privacidad</a></li>
            <li class="footer__item"><a class="footer__link" href="/">Terminos y Condiciones</a></li>
            <li class="footer__item"><a class="footer__link" href="/">Información de contacto</a></li>
        </ul>
    </div>
    <div class="footer__contact">
      <p class="footer__contact-title">Mas Información:</p>
      <a class="footer__contact-link" href="mailto:info&#64;homing.org">info&#64;homing.org</a>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__bottom-text">© {{ currentYear }} Web propiedad de Homing. </p>
    <p class="footer__bottom-text">Al acceder se aceptan los Términos y Condiciones y Privacidad.</p>
  </div>
</footer>


