<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<section class="login">
  <div class="login__container">
    <h1 class="login__title">Login de acceso</h1>
    <div *ngIf="(loaded$ | async) || !(loading$ | async) ">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__container-form">
        <mat-form-field appearance="outline" >
          <mat-label>Email:</mat-label>
          <input
            matInput
            type="email"
            placeholder="pat@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password:</mat-label>
          <input
            matInput
            type="password"
            [formControl]="password"
            required
          />
          <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
        </mat-form-field>
        <div class="login__actions">
          <app-button variant ="primary" type="submit" [disabled]="!loginForm.valid">Login</app-button>
          <app-button variant="outline" (click)="cancel()">Cancelar</app-button>
        </div>
      </form>
    </div>
  </div>
</section>
