@use '/src/assets/styles/variables' as vars;

.login {
  &__title {
  font-size: vars.$font-size-26;
  font-weight: 700;
  margin-bottom: 30px;
}

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-items: center;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    @media (min-width: vars.$breakpoint-md) {
      flex-direction: row-reverse;
       justify-content: center;

    }
  }
  &__container {
    margin-top: 40px;
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: vars.$color-gray;
        padding: 20px;
    }
  }
}

#loginFeedback {
   visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 500px;
}

#loginFeedback.requestOk {
    background-color: vars.$color-primary;
}

#loginFeedback.requestKo {
   background-color: vars.$color-warn;
}

#loginFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
   top: 0;
    opacity: 1;
  }
  to {
   top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
