
@use '/src/assets/styles/variables' as vars;
.container {
  padding: 20px;
  background-color: vars.$color-white;
  border: 1px solid vars.$color-gray;
  border-radius: 8px;
  &__title {
    color: vars.$color-primary;
  }
  &__content {
    font-size: vars.$font-size-16;
    line-height: normal;
  }
}
