@use '/src/assets/styles/variables' as vars;

.animal{
   margin: 32px;
    &__filters {
    display: grid;
    gap: 10px;
      grid-template-columns: 1fr;
      padding: 0px 4px 30px;

    @media (min-width: vars.$breakpoint-md) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 20px 6px 30px;
    }
    @media (min-width: vars.$breakpoint-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      padding: 0px 0px 30px;
    }
    }

    &__title {
    margin: 10px 0 20px 0;
    font-weight: 500;
    font-size: vars.$font-size-18;
    color: vars.$color-primary;
    text-align: center;
    @media (min-width: vars.$breakpoint-md) {
    margin: 10px 0 40px 0;
      font-size: vars.$font-size-26;

    }
  }

  &__section {
    &-title {
      text-align: center;
      margin-bottom: 0px;
      font-size: vars.$font-size-18;
      font-weight: 700;
      color: vars.$color-text;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: vars.$breakpoint-md) {
        font-size: vars.$font-size-26;
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
    &-icon {
      width: 16px;
      margin-right: 8px;
      @media (min-width: vars.$breakpoint-md) {
        width: 24px;
      }
    }
  }
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;

    @media  (min-width: vars.$breakpoint-md ) {
      gap: 40px;
      justify-content: center;
    }

    &__card {
      flex: 1 1 100%;
      max-width: 100%;
      border: none !important;

      @media  (min-width: vars.$breakpoint-sm ) {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
      }

      @media  (min-width: vars.$breakpoint-md ) {
        flex: 1 1 calc(33.3% - 30px);
        max-width: calc(33.3% - 30px);
      }
      @media  (min-width: vars.$breakpoint-lg ) {
        flex: 1 1 calc(25% - 30px);
        max-width: calc(25% - 30px);
      }
    }

  }



#createAnimalSuccessFeedback, #createAnimalFeedback {
   visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 500px;
}
#createAnimalSuccessFeedback.requestOk , #createAnimalFeedback.requestOk {
  background-color: vars.$color-primary;
}

#createAnimalSuccessFeedback.requestKo  , #createAnimalFeedback.requestKo {
  background-color: vars.$color-warn
}

#createAnimalSuccessFeedback.show , #createAnimalFeedback.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
   top: 0;
    opacity: 1;
  }
  to {
   top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
