<div style="margin-left: auto; margin-right: auto">
  <p id="createAnimalFeedback"></p>
  <p id="createAnimalSuccessFeedback"></p>
</div>

<div class="animal">
  <div class="animal__section">
    <h2 class="animal__section-title">
      <img class="animal__section-icon" src="/assets/icons/mascotas.png" alt="Icono Corazón">
      Mascotas que te esperan
    </h2>
  </div>
<h1 class="animal__title">Estas son nuestras mascotas y están deseando conocerte</h1>
<section class="animal__filters">
  <mat-form-field appearance="fill">
  <mat-label>Epecie</mat-label>
  <mat-select [(ngModel)]="selectedSpecies" (ngModelChange)="onFilterChange()">
    <mat-option *ngFor="let item of speciesList$ | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
     <mat-option [value]="null" class="animal__filters-clean">Todos</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field >
  <mat-label>Edad</mat-label>
  <mat-select [(ngModel)]="selectedAge" (ngModelChange)="onFilterChange()" >
    <mat-option *ngFor="let item of ageCategoriesList$ | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
     <mat-option [value]="null" class="animal__filters-clean">Todos</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Sexo</mat-label>
  <mat-select [(ngModel)]="selectedGenre"  (ngModelChange)="onFilterChange()" >
    <mat-option *ngFor="let item of genresList$ | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
    <mat-option [value]="null" class="animal__filters-clean">Todos</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Situación actúal</mat-label>
  <mat-select  [(ngModel)]="selectedStatus"  (ngModelChange)="onFilterChange()">
    <mat-option *ngFor="let item of statusList$ | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
     <mat-option [value]="null" class="animal__filters-clean">Todos</mat-option>
  </mat-select>
</mat-form-field>
</section>
<section  *ngIf="filteredAnimals$ | async as animals" class="section" >
    <div class="section__card" *ngFor="let animal of animals">
      <app-card [animal]="animal"></app-card>
    </div>
    <app-no-data
      *ngIf="animals.length === 0"
      [title]="'Sin resultados'"
      [content]="'En estos momentos no hemos encontrado una mascota con los filtros seleccionados. ¡Sigue buscando, muchas te están esperando!'"
    ></app-no-data>
  </section>
</div>

