

#createAnimalSuccessFeedback {
   visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 500px;
}
#createAnimalSuccessFeedback.requestOk  {
  background-color: rgb(78, 224, 78);
}

#createAnimalSuccessFeedback.requestKo  {
  background-color: rgb(251, 94, 94);
}

#createAnimalSuccessFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
   top: 0;
    opacity: 0;
  }
  to {
   top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
   top: 0;
    opacity: 1;
  }
  to {
   top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
