/*  Global styles */

html, body { height: 100%; background-color: rgb(238, 238, 238) }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

/* Colors */

$primary-color: #7EB794;
$secondary-color: #916953;
$gray-color: #E5E5E5;
$text-color: #10201F;
$white-color: #FFFFFF;
$error-color: #E63946;

/* Font Size */

$font-size-14: 0.87rem; // 14px
$font-size-16: 1rem; // 16px
$font-size-18: 1.2rem; // 18px
$font-size-26: 1.62rem; // 26px
$font-size-42: 2.6rem; // 48px
$font-size-68: 4.25rem; // 68px

/* Responsive */

$breakpoint-xs: 0px;        // Extra pequeño
$breakpoint-sm: 375px;      // Pequeño
$breakpoint-md: 768px;      // Mediano
$breakpoint-lg: 1200px;     // Grande
$breakpoint-xx: 1600px;     // Extra grande

/* Shadows */

.inner-shadow {
  box-shadow: 0px 0px 2px 2.5px rgb(229, 229, 229, 0.5) ;
}

.drop-shadow {
  box-shadow: 0px 0px 3px 2.5px rgb(229, 229, 229, 0.4) ;
}

.up-shadow {
  box-shadow: 0px -1.5px 1.5px 2px rgb(229, 229, 229, 0.5) ;
}

.down-shadow {
  box-shadow: 0px 2px 4px 2.5px rgb(229, 229, 229, 0.5) ;
}

.modal-shadow {
  box-shadow: 0px 4px 4px 2.5px rgb(16, 32, 31, 0.1) ;
}

/* Font Class */

.title-xl {
  font-size: $font-size-68;
  font-weight: 700;
}
.title {
  font-size: $font-size-42;
  font-weight: 700;
}

.title-sm {
  font-size: $font-size-26;
  font-weight: 700;
}

.subtitle-bold {
  font-size: $font-size-26;
  font-weight: 700;
}

.subtitle-medium {
  font-size: $font-size-26;
  font-weight: 500;
}

.subtitle-sm-bold {
  font-size: $font-size-16;
  font-weight: 700;
}

.subtitle-sm-medium {
  font-size: $font-size-16;
  font-weight: 500;
}

.text-bold {
  font-size: $font-size-16;
  font-weight: 700;
}

.text {
  font-size: $font-size-16;
  font-weight: 400;
}

.text-sm {
  font-size: $font-size-14;
  font-weight: 500;
}

.text-button {
  font-size: $font-size-16;
  font-weight: 700;
}

.text-tooltip {
  font-size: $font-size-14;
  font-weight: 400;
}

.text-link {
  font-size: $font-size-16;
  font-weight: 700;
}

.text-card-bold {
  font-size: $font-size-16;
  font-weight: 700;
}

.text-card-medium {
  font-size: $font-size-16;
  font-weight: 500;
}
.text-cards-sm-bold {
  font-size: $font-size-14;
  font-weight: 700;
}
.text-card-sm-medium {
  font-size: $font-size-14;
  font-weight: 500;
}


/* Others */

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: bold;
}

mat-form-field {
  margin-bottom: 10px;
  @media  (min-width: 375px ) {
    width: 80%;
  }
  @media  (min-width: 600px ) {
    width: 50%;
  }
  @media  (min-width: 1200px ) {
    width: 30%;
  }

}
