
@use '/src/assets/styles/variables' as vars;


html, .mat-typography, .mat-typography h1 , .mat-typography h2, .mat-typography h3 ,.mat-typography h4 ,.mat-typography h5 ,.mat-typography p ,.mat-typography span ,.mat-typography  strong , .mat-typography ul , .mat-typography a , .mdc-form-field ,  label , mat-dialog-title   {
  font-family:"Poppins", sans-serif;
  letter-spacing: normal;

}


html, body { height: 100vh; background-color: vars.$color-white }
body { margin: 0 }


a {
  color: vars.$color-text;
  text-decoration: none;
}


.mat-mdc-table.mdc-data-table__table.cdk-table {
  border: 1px solid vars.$color-gray;
  border-radius: 8px;
  margin-bottom: 20px;
}
.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row.ng-star-inserted {
background-color: vars.$color-gray;
}


td > a , td > span {
  color: vars.$color-primary;
  font-weight: 700;
}
.mat-mdc-cell.mdc-data-table__cell.cdk-cell, .mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell , #mat-paginator-page-size-label-0, .mat-mdc-paginator-range-label, .mat-mdc-select-min-line.ng-tns-c101-2.ng-star-inserted{
  font-family: "Poppins", sans-serif;
  letter-spacing: normal;
}


.no-scroll {
  overflow: hidden;
}


/* Shadows */

.inner-shadow {
  box-shadow: 0px 0px 2px 2.5px rgb(229, 229, 229, 0.5) ;
}

.drop-shadow {
  box-shadow: 0px 0px 3px 2.5px rgb(229, 229, 229, 0.4) ;
}

.up-shadow {
  box-shadow: 0px -1.5px 1.5px 2px rgb(229, 229, 229, 0.5) ;
}

.down-shadow {
  box-shadow: 0px 2px 4px 2.5px rgb(229, 229, 229, 0.5) ;
}

.modal-shadow {
  box-shadow: 0px 4px 4px 2.5px rgb(16, 32, 31, 0.1) ;
}

/* Others */

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: bold;
}


/* mat-mdc-checkbox__background , mdc-checkbox__ripple
.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {

background-color: vars.$color-primary;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
background-color: vars.$color-primary;
} */
.mat-ripple .mat-mdc-checkbox-ripple .mat-mdc-focus-indicator {
background-color: vars.$color-primary !important;
}
